<!DOCTYPE html>
<title>{% block title %}{% endblock %} Pochettini</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav>
  <h1>Pochettini</h1>
  <ul>
    <li><a href="{{ url_for('track.index') }}">Canciones</a> </li>
    <li><a href="{{ url_for('alb.index') }}">Albums</a> </li>
    <li><a href="{{ url_for('art.index') }}">Artista/as</a> </li>
  </ul>
</nav>
<section class="content">
  <header>{% block header %}{% endblock %}</header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %} {% block content %}{% endblock %}
</section>
