<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
{% block header %}
<h1>{% block title %}{{ trackn['nombre'] }}{% endblock %}</h1>
{% endblock %} 
{% block content %} 

<p><a href="{{ url_for('artist.get_artist', id= tracki['ides'])}}"></a></p>
<p><a href="{{ url_for('albums.get_album',  id=tracki['disco']) }}"></a></p>
<p>{{ tracki['genero'] }}</p>
<p>{{ tracki['composer'] }}</p>
<p>{{ tracki['milliseconds'] }} Milliseconds</p>
<p>{{ tracki['bytes'] }} Bytes</p>
<p>{{ tracki['unitPrice'] }}</p>
{% endblock %}
